In [1]:
import pandas as pd
import numpy as np

In [25]:
data=pd.read_csv("wordstat_dynamic",delimiter=';')
data_adjusted=data[['Период', 'Число запросов']]

month_mapping = {
    'январь': 1,
    'февраль': 2,
    'март': 3,
    'апрель': 4,
    'май': 5,
    'июнь': 6,
    'июль': 7,
    'август': 8,
    'сентябрь': 9,
    'октябрь': 10,
    'ноябрь': 11,
    'декабрь': 12
}


def convert_date(date_str):
    month_str, year_str = date_str.split() 
    month_num = month_mapping[month_str]     
    year_num = int(year_str)                  
    return month_num, year_num


data_adjusted['Период_число']=data_adjusted['Период'].apply(convert_date)

data_adjusted

/var/folders/fg/fj645s3d29g2brqjkbcmk3tm0000gn/T/ipykernel_17875/2039732854.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_adjusted['Период_число']=data_adjusted['Период'].apply(convert_date)

           Период Число запросов Период_число
0     январь 2020      2 858 305    (1, 2020)
1    февраль 2020      3 123 016    (2, 2020)
2       март 2020      2 732 543    (3, 2020)
3     апрель 2020      2 890 361    (4, 2020)
4        май 2020      3 045 768    (5, 2020)
5       июнь 2020      3 143 364    (6, 2020)
6       июль 2020      3 168 150    (7, 2020)
7     август 2020      3 126 036    (8, 2020)
8   сентябрь 2020      2 603 769    (9, 2020)
9    октябрь 2020      2 866 839   (10, 2020)
10    ноябрь 2020      2 993 198   (11, 2020)
11   декабрь 2020      2 800 046   (12, 2020)
12    январь 2021      2 941 559    (1, 2021)
13   февраль 2021      3 284 008    (2, 2021)
14      март 2021      2 982 067    (3, 2021)
15    апрель 2021      3 041 338    (4, 2021)
16       май 2021      3 289 357    (5, 2021)
17      июнь 2021      3 601 957    (6, 2021)
18      июль 2021      3 792 641    (7, 2021)
19    август 2021      3 798 891    (8, 2021)
20  сентябрь 2021      2 902 082    (9, 2021)
21   октябрь 2021      3 032 415   (10, 2021)
22    ноябрь 2021      2 957 590   (11, 2021)
23   декабрь 2021      3 123 301   (12, 2021)
24    январь 2022      3 281 616    (1, 2022)
25   февраль 2022      3 415 598    (2, 2022)
26      март 2022      3 239 976    (3, 2022)
27    апрель 2022      3 421 123    (4, 2022)
28       май 2022      3 807 519    (5, 2022)
29      июнь 2022      4 001 311    (6, 2022)
30      июль 2022      4 238 667    (7, 2022)
31    август 2022      4 373 112    (8, 2022)
32  сентябрь 2022      3 112 849    (9, 2022)
33   октябрь 2022      3 554 374   (10, 2022)
34    ноябрь 2022      3 388 061   (11, 2022)
35   декабрь 2022      3 400 052   (12, 2022)
36    январь 2023      3 361 809    (1, 2023)
37   февраль 2023      3 519 616    (2, 2023)
38      март 2023      3 628 094    (3, 2023)
39    апрель 2023      3 600 756    (4, 2023)
40       май 2023      3 849 818    (5, 2023)
41      июнь 2023      4 037 429    (6, 2023)
42      июль 2023      4 166 614    (7, 2023)
43    август 2023      4 165 618    (8, 2023)
44  сентябрь 2023      3 317 211    (9, 2023)
45   октябрь 2023      3 322 211   (10, 2023)
46    ноябрь 2023      3 209 079   (11, 2023)
47   декабрь 2023      3 282 721   (12, 2023)
48    январь 2024      3 454 115    (1, 2024)

In [28]:
data_adjusted['Период_число'][0][0]

1